<div class="container">
	<div id="subheader">
		<h1><%= @contact_name %></h1>
		<div>
			<a href="/" class="btn btn-link btn-md">
				Back
			</a>
			<a href="/contacts/<%= @contact_name %>/edit" class="btn btn-primary btn-md">
				Edit
			</a>
		</div>
	</div>

	<div id="contact-details">
		<dl>
			<div class="form-group">
				<dt>Phone</dt>
				<dd><%= @details["phone"] %></dd>
			</div>
			<div class="form-group">
		  		<dt>Email</dt>
			  	<dd><%= @details["email"] %></dd>
		  	</div>
		  	<div class="form-group">
		  		<dt>Address</dt>
			  	<dd><%= @details["address"] %></dd>
		  	</div>
		</dl>
	</div>
</div>