<div class="container">
	<div id="subheader">
		<h1><%= @details["name"] %></h1>
	</div>

	<div id="contact-details">
		<form action="/contacts/<%= @id %>/edit" method="post">
	  		<div class="form-group">
	  			<label for="name">Name</label>
	  			<input class="form-control" type="text" id="contact_name" name="contact_name" value="<%= @details["name"] %>"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="phone">Phone</label>
	  			<input class="form-control" type="tel" id="phone" name="phone" value="<%= @details["phone"] %>"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="email">Email</label>
	  			<input class="form-control" type="email" id="email" name="email" value="<%= @details["email"] %>"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="address">Address</label>
	  			<input class="form-control" type="text" id="address" name="address" value="<%= @details["address"] %>"></input>
  			</div>
			<div class="form-group"> <%# todo: add select %>
	  			<label for="category">Category</label>

	  			<input class="form-control" type="text" id="category" name="category"></input>
	  		</div>
  			<a class="btn btn-light btn-md" href="/contacts/<%= @id %>">Cancel</a>
  			<button class="btn btn-primary btn-md">Save</button>
		</form>
	</div>
</div>